Package: jedit
Version: 4:@jedit.build.number@
Architecture: all
Maintainer: Contributors <devel@jEdit.org>
Section: non-free/editors
Homepage: http://www.jedit.org/ 
Architecture: all
Depends: sun-java5-jre
Conflicts: jedit-cvs
Replaces: jedit-cvs
Recommends: exuberant-ctags, cscope, sun-java5-jdk
Priority: optional
Installed-Size: @deb.installed.size@
Description: A plugin-based editor for programmers. 
 As one of the most feature rich editors available, jEdit boasts support for
 syntax highlighting in more than 140 languages. jEdit combines the power of
 Emacs, the user-friendliness of Kate, and the advanced editing features
 (such as vertical paste) of Ultraedit, to bring you an open-source
 plugin-based programmer's editor of professional quality.
 .
 It is possible to define complex macros in BeanShell or Jython, or other
 languages that fit into the BSF. jEdit offers a powerful and user-friendly
 keyboard mapping system (including 2-keystroke shortcuts), making it
 possible to give jEdit a very Emacs-like feel, if you so desire.
 .
 Its functionality is easily extended by the use of 'plugins' which can be
 downloaded, updated, and installed, all without exiting the editor. These
 include a built-in Console shell integration, which lets you execute
 external commands and bind them to keyboard shortcuts, also without leaving
 the editor. The FTP plugin lets you browse and edit files on remote file systems
 via FTP or SFTP. Other plugins provide shells, structure browsers and/or completion 
 popups for Ant, LaTeX, HTML, Java, XML, Ruby, Python, Perl, C,
 C++, bash, Scheme, Prolog, and many other languages. 
